@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Hind Siliguri", sans-serif;
  margin: 0;
  background-color: #fff !important;
}

.hero-btn {
  background: linear-gradient(45deg,#fff,#66CC8A);
  color: #e3e3e3 ;
  border: none;
}
@media (max-width: 320px) {
  .reg-mobile-button {
    display: none !important;
  }
}
