@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Hind Siliguri", sans-serif;
  margin: 0;
  background-color: #fff !important;
}

@media (max-width: 320px) {
  .reg-mobile-button {
    display: none !important;
  }
}
